{% extends 'base.html'%} {% load static %} {% block content %}

<section class="field">
  <div class="cards"></div>

  <div class="calendar">
    <div class="day-marker sun we"><span class="day-tag">S</span></div>
    <div class="day-marker mon"><span class="day-tag">M</span></div>
    <div class="day-marker tue"><span class="day-tag">T</span></div>
    <div class="day-marker wed"><span class="day-tag">W</span></div>
    <div class="day-marker thu"><span class="day-tag">T</span></div>
    <div class="day-marker fri"><span class="day-tag">F</span></div>
    <div class="day-marker sat we"><span class="day-tag">S</span></div>

    <div class="day-block day-a1 we">
      <div class="day-square" data_selectedDate="">Number</div>
    </div>
    <div class="day-block day-a2">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-a3">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-a4">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-a5">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-a6">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-a7 we">
      <div class="day-square">Number</div>
    </div>

    <div class="day-block day-b1 we">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-b2">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-b3">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-b4">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-b5">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-b6">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-b7 we">
      <div class="day-square">Number</div>
    </div>

    <div class="day-block day-c1 we">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-c2">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-c3">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-c4">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-c5">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-c6">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-c7 we">
      <div class="day-square">Number</div>
    </div>

    <div class="day-block day-d1 we">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-d2">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-d3">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-d4">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-d5">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-d6">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-d7 we">
      <div class="day-square">Number</div>
    </div>

    <div class="day-block day-e1 we">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-e2">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-e3">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-e4">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-e5">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-e6">
      <div class="day-square">Number</div>
    </div>
    <div class="day-block day-e7 we">
      <div class="day-square">Number</div>
    </div>

    <div class="calendar-nav-bar">
      <div class="up-one-week arrow"></div>
      <input class="date-input" type="date" id="date-thing" />
      <div class="down-one-week arrow"></div>
    </div>
  </div>
</section>

<script src="{% static 'scripts/calendarMethods.js' %}" type="module"></script>
{% endblock %}
