{% extends 'base.html'%} {% block content %}

<h1>Events</h1>

<!-- {% if events %}
<ul>
  {% for event in events %}
  <li>
    <div><span>{{event.title}}</span> -- <span>{{event.where}}</span></div>
    <div>{{event.start_date}} to {{event.end_date}}</div>
    <div>
      <a
        class="edit-event btn btn-sm btn-primary"
        href="/events/{{event.id}}/edit"
      >
        Edit
      </a>
      <button
        class="delete-event btn btn-sm btn-danger"
        data_eventId="{{event.id}}"
      >
        Delete
      </button>
    </div>
  </li>
  {% endfor %}
</ul>

{% endif %} -->

<input type="date" id="date-thing">

<div class="calendar">
  <div data_selectedDate="2020-02-03"class="day-block day-a1">Number</div>
  <div class="day-block day-a2">Number</div>
  <div class="day-block day-a3">Number</div>
  <div class="day-block day-a4">Number</div>
  <div class="day-block day-a5">Number</div>
  <div class="day-block day-a6">Number</div>
  <div class="day-block day-a7">Number</div>
  
  <div class="day-block day-b1">Number</div>
  <div class="day-block day-b2">Number</div>
  <div class="day-block day-b3">Number</div>
  <div class="day-block day-b4">Number</div>
  <div class="day-block day-b5">Number</div>
  <div class="day-block day-b6">Number</div>
  <div class="day-block day-b7">Number</div>
  
  <div class="day-block day-c1">Number</div>
  <div class="day-block day-c2">Number</div>
  <div class="day-block day-c3">Number</div>
  <div class="day-block day-c4">Number</div>
  <div class="day-block day-c5">Number</div>
  <div class="day-block day-c6">Number</div>
  <div class="day-block day-c7">Number</div>
  
  <div class="day-block day-d1">Number</div>
  <div class="day-block day-d2">Number</div>
  <div class="day-block day-d3">Number</div>
  <div class="day-block day-d4">Number</div>
  <div class="day-block day-d5">Number</div>
  <div class="day-block day-d6">Number</div>
  <div class="day-block day-d7">Number</div>
  
  <div class="day-block day-e1">Number</div>
  <div class="day-block day-e2">Number</div>
  <div class="day-block day-e3">Number</div>
  <div class="day-block day-e4">Number</div>
  <div class="day-block day-e5">Number</div>
  <div class="day-block day-e6">Number</div>
  <div class="day-block day-e7">Number</div>
</div>


{% endblock %}
