{% extends 'base.html'%} {% block content %}

<h1>Events</h1>

{% if events %}
<ul>
  {% for event in events %}
  <li>
    <div><span>{{event.title}}</span> -- <span>{{event.where}}</span></div>
    <div>{{event.start_date}} to {{event.end_date}}</div>
    <div>
      <a
        class="edit-event btn btn-sm btn-primary"
        href="/events/{{event.id}}/edit"
      >
        Edit
      </a>
      <button
        class="delete-event btn btn-sm btn-danger"
        data_eventId="{{event.id}}"
      >
        Delete
      </button>
    </div>
  </li>
  {% endfor %}
</ul>

{% endif %} {% endblock %}
