/* UNIVERSAL */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: futura;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

/* HEADER */

.nav-banner {
  width: 100vw;
  height: 39px;
  background-color: #7fcdee;
  z-index: 0;
}

.logo-glow {
  float: left;
  position: absolute;
  margin-top: 17px;
  margin-left: 5px;
  z-index: 10;
  width: 120px;
}

.logo-type {
  float: left;
  position: absolute;
  margin-top: 16.5px;
  margin-left: 15px;
  z-index: 10;
  width: 100px;
}

.nav-banner-overlay {
  height: 13px;
  width: 100vw;
  background-color: #54bce8;
  position: relative;
  z-index: 30;
}

.timer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-countdown {
  width: 90vw;
  max-width: 375px;
  background-color: #29abe2;
  color: white;
  font-size: 20px;
  margin-top: 5px;
  align-self: center;
  padding: 5px;
  border-radius: 10px;
  border: 0 0 0 1px #3f8dae;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 90;
  box-shadow: 0 0 4px rgba(50, 50, 50, 0.5);
}

/* .hamburger-nav {
  float: right;
}

.hamburger {
  height: 25px;
  margin: 18px 15px;
} */

.nav-buttons {
  float: right;
  display: flex;
  align-items: right;
  margin: -16px 4px;
  z-index: 50;
}

.nav-link {
  margin-right: 15px;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.result {
  margin-top: 5px;
  font-size: 35px;
}

/* SITE FIELD */

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CARDS */

.cards {
  margin: 5vw;
  height: 55.25vw;
  width: 91vw;
  transition: 0.3s linear;
  overflow: auto;
  border-radius: 10px;
  background-color: #7fcdee;
  box-shadow: 0 0 0 1px #3f8dae;
}

.card {
  background-color: #7fcdee;
  box-shadow: 0 0 0 1px #3f8dae;
  transform: translateY();
  margin-top: 0px;
}

.card-header {
  height: 6vw;
  width: 100vw;
  background-color: rgba(240, 240, 240, 0.5);
  color: 1a1a1a;

}

.event-countdown {
  width: 45vw;
  max-width: 150px;
  color: whitesmoke;
  padding: 2px 6px;
  border-radius: 0 0 0 10px;
  background-color: #29abe2;
  font-size: 10px;
  float: right;
}

.card-content {
  padding: 6px;
  line-height: 18px;
}

.primary-card {
  height: 50%;
  width: 100%;
}

/* CALENDAR */

#date-thing {
  text-align: center;
}

.calendar,
.week-banner {
  width: 91vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.day-block,
.day-marker {
  width: 13vw;
  height: 12vw;
  color: #1a1a1a;
  padding: 0;
  text-align: center;
  background-color: #7fcdee;
  box-shadow: 0 0 0 1px #3f8dae;
  display: flex;
}

.day-marker {
  height: 30px;
  align-items: center;
}

.day-tag {
  margin-left: 5px;
  color: #1a1a1a;
  font-size: 10pt;
}

.day-square {
  color: #1a1a1a;
  font-size: 7pt;
  max-height: 1.5em;
  min-width: 9px;
  padding: 0px 5px;
  background-color: rgba(240, 240, 240, 0.5);
}

.we {
  background-color: #54bce8;
}

.sun {
  border-radius: 10px 0 0 0;
}

.sat {
  border-radius: 0 10px 0 0;
}

.calendar-nav-bar {
  height: 30px;
  width: 91vw;
  background-color: #7fcdee;
  box-shadow: 0 0 0 1px #3f8dae;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-input {
  border-radius: 5px;
}

.arrow {
  width: 0;
  height: 0;
  margin: 0 10px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.up-one-week {
  border-bottom: 10px solid whitesmoke;
}

.down-one-week {
  border-top: 10px solid whitesmoke;
}

.event-button {
  display: inline-block;
  cursor: pointer;
}

/* FOR SCREENS 600 PIXELS AND WIDER */

@media only screen and (min-width: 600px) {
  .nav-banner {
    width: 100vw;
    height: 75px;
  }
  .logo-glow {
    width: 200px;
    margin: 41.5px 8px;
  }
  .logo-type {
    width: 150px;
    margin: 41.5px 30px;
  }
  .nav-banner-overlay {
    height: 25px;
    width: 100vw;
  }
  .main-countdown {
    width: 225px;
  }
  .hamburger-nav {
    margin: 30px 20px 0 0;
  }
  .hamburger {
    height: 35px;
    margin-top: 14px;
  }
}

/* FOR SCREENS 768 PIXELS AND WIDER */

@media only screen and (min-width: 768px) {
  .countdown {
    transform: translateY(-113%);
  }
  .logo-glow {
    width: 250px;
    margin-top: 29.5px;
  }
  .logo-type {
    width: 200px;
    margin-top: 29.5px;
  }
}

/* FOR SCREENS 992 PIXELS AND WIDER */

@media only screen and (min-width: 992px) {
  .field {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .calendar,
  .week-banner {
    width: 45.5vw;
  }
  .day-block,
  .day-marker {
    width: 6.5vw;
    height: 6.375vw;
  }
  .day-marker {
    height: 30px;
    margin-top: 17px;
  }
  .hamburger-nav {
    display: none;
  }
  .nav-buttons {
    display: flex;
  }
}

/* FOR SCREENS 1200 PIXELS AND WIDER */

@media only screen and (min-width: 1200px) {
}
/* 
  .countdown {
    transform: translateY(0px);
  }

  .field {
    flex-direction: row;
    width: 100%;
  }

  .cards {
    width: 90vw;
    height: auto;
  }

  .calendar, .week-banner {
    width: 90vw;
    height: auto;
  }

  .nav-banner {
    width: 100%;
    height: 75px;
  }

  .nav-banner-overlay {
    height: 25px;
    width: 100vw;
  }
} 

.calendar, .week-banner {
  width: 45.5vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.day-block, .day-marker {
  width: 6.5vw;
  height: 6.375vw; 
  color: #1A1A1A;
  padding: 0;
  text-align: center;
  background-color: #7fcdee;
  outline: 1px solid #3f8dae; 
  box-shadow: 0 0 0 1px #3f8dae;
  display: flex;
}

.day-marker {
  height: 30px;
  margin-top: 17px; 
  align-items: center;
}

.day-tag {
  margin-left: 5px;
  color: #1A1A1A;
}

.day-square {
  margin-left: 5px;
  color: #1A1A1A;
  max-height: 1.5em;
  min-width: 15px;
  padding: 0px 5px;
  background-color: rgba(240,240,240,.5);
}


*/

/* .main-countdown {
  width: 15vw;
  left: 50%;
  top: 50%;
  transform: translateY(-100px);
  background-color: #29ABE2;
  color: white;
  font-size: 20px;
  margin-top: 5px;
  align-self: center;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 90;
  box-shadow: 0 0 4px rgba(50, 50, 50, 0.5);
} */
