{% extends 'base.html'%} {% block content%}
<div class="login-form">

  <div class="misc-text">  
    <h3 class="login-here-text">Login here!</h3>

    <p class="new-to-horizon-text">New to Horizon? 
    <a href="{% url 'signup' %}" class="sign-up-now-text">Sign Up Now!</a></p>
  </div>

  <form action="{% url 'login' %}" method="post">
    {% csrf_token %} {{form.as_p}}
    <input type="submit" class="btn" value="Login" />
    <input type="hidden" name="next" value="{{next}}" />
  </form>
</div>
{% endblock %}