{% extends 'base.html'%} {% load static %} {% block content%}

<div class="about-content">
  <h1>About Horizon</h1>

  <div class="company-description">
    <p>
      Now, more than ever, we all need something to look forward to. So the team
      at JSM Designs got together and decided to give people hope and
      positivity, however they needed it. And all of us, no matter who we are or
      what we're doing, need something on the Horizon.
    </p>
    <p>
      Horizon is a simple, easy-to-use
      <strong>event tracking application</strong>, allowing users to keep track
      of whatever positive events in their lives they have coming up. Horizon
      walks the line between privacy and sharing, allowing users to add friends
      and connections to share events with, but still retain privacy-first
      tracking if they'd like.
    </p>
    <h2 class="team-introduction">Meet our team!</h2>
  </div>

  <div class="team-members">
    <div class="team-members__member-card">
      <img
        class="member-card__headshot"
        src="{% static 'images/Skot_Walker_Headshot.jpg'%}"
        alt="Skot Walker"
      />
      <p class="member-card__bio">
        Skot likes Adobe Illustrator and prolific pop culture references. He and
        his wife Amy live in a pineapple-townhouse under the sea, where Skot is
        the co-head of Bikini Bottom's HOA
      </p>
    </div>
    <div class="team-members__member-card">
      <img
        class="member-card__headshot"
        src="{% static 'images/Julian_Ochoa_Headshot.jpg'%}"
        alt="Julian Ochoa"
      />
      <p class="member-card__bio">
        Julian subsists on guacamole, chicken tendys, and limitless snark. His
        greatest ambition is to bring down the hypocrisy of any and all
        university Psychology departments and he lives in a pineapple in San
        Francisco
      </p>
    </div>
    <div class="team-members__member-card">
      <img
        class="member-card__headshot"
        src="{% static 'images/Matt_Miner_Headshot.jpg'%}"
        alt="Matt Miner"
      />
      <p class="member-card__bio">
        Matt likes JavaScript, correcting people, and his dog Berlin. He and his
        wife Lauren live in an asbestos and lead-paint shed in Berklandville
        where Matt forgets what's in the fridge and eats his bodyweight in Trail
        mix
      </p>
    </div>
  </div>
</div>
<style>
  .timer-container {
    display: none;
  }

  .about-content {
    padding: 10px;
  }

  .company-description p {
    margin-bottom: 5px;
  }

  .team-introduction {
    margin: 10px 0px;
  }

  .team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .team-members__member-card {
    padding: 10px;
    margin: 10px;
    background-color: #29abe2;
    max-width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .member-card__headshot {
    display: block;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    height: 300px;
    width: 200px;
  }

  .member-card__bio {
    padding: 10px;
  }
</style>
<script></script>
{% endblock %}
