{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Horizon</title>

    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/1.24.1/luxon.min.js"></script>

    <script defer src="{% static 'scripts/app.js' %}" type="module"></script>
  </head>
  
  <body>
  
    <header>
      <div class="nav-banner">

        <div class="logo-carrier">
    
          <div class="logo">
            <img class='logo-glow' src="{% static 'images/horizon_glow.png' %}"/>
          </div>
    
          <div class="logo">
            <img class='logo-type' src="{% static 'images/horizon_type.png' %}"></img>
          </div>
          
          <nav class="hamburger-nav">
            <img class='hamburger' src="{% static 'images/hamburger-nav.png' %}"/>
          </nav>


          <nav class="nav-buttons">
            <span class="nav-link" id="events">events</span>
            <span class="nav-link" id="new-event">+event</span>
            <span class="nav-link" id="login">login</span>
            <span class="nav-link" id="logout">logout</span>
          </nav>  

        </div>
        
      </div>

      <div class="nav-banner-overlay"></div>

      <div class="timer-container">
        <div class="main-countdown" data_targetDate="2020-06-01" id="time-1"> Next Good Thing: 
          <div class="result"></div>
        </div>
      </div>
      
    </header>


    <!-- <nav class="navbar">
      <a class="navbar-brand" href="/">Horizon</a>
      <button>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/events">Events</a>
          </li>
          <li class="nav-item">
            <a href="/events/new" class="nav-link">New Event</a>
          </li>
          <li class="nav-item">
            <a href="/accounts/login" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a href="/accounts/logout" class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </nav> -->


    <main class="container">
      {% block content %} 
      {% endblock %}
    </main>
  </body>
</html>

<script>
  // import {DateTime} from "luxon"

function renderDurationString(timeDifference) {
  let adjustedDays = Math.floor(luxon.Duration.fromObject(timeDifference).shiftTo('days').get('days'));
  const adjustedDifference = luxon.Duration.fromObject({days: adjustedDays, hours: timeDifference.hours, minutes: timeDifference.minutes}).toFormat("dd-hh-mm");
  const splitValues = adjustedDifference.split("-");
  return `${splitValues[0]}:${splitValues[1]}:${splitValues[2]}`;
}

function updateCountdowns(countdownObjects) {
  countdownObjects.forEach((targetObject) => {
    const targetDate = targetObject.getAttribute("data_targetDate");
    const targetDateArray = targetDate.split("-");

    const targetTime = luxon.DateTime.local(
      parseInt(targetDateArray[0]),
      parseInt(targetDateArray[1]),
      parseInt(targetDateArray[2])
    );

    const timeDifference = targetTime
      .diffNow(["years", "months", "days", "hours", "minutes", "seconds"])
      .toObject();

    targetObject.querySelector(".result").innerHTML = renderDurationString(
      timeDifference
    );
  });
}

const timerObjects = document.querySelectorAll(".countdown");

setInterval(function () {
  updateCountdowns(timerObjects);
}, 100);
</script>